.google-map-placeholder img {
    max-width: none !important;
    max-height: none !important;
    background-color: transparent !important;
	padding: 0px !important;
	margin: 0px !important;
    visibility: inherit !important;
}

.google-map-placeholder .bubble-content h4 {
    text-align: left !important;
    font-size: 14px !important; 
    border: none !important; 
    background: none !important; 
    color: #111111 !important;
    font-family: Arial,Tahoma,Verdana !important;
    font-weight: bold !important;
    line-height: 120% !important;
    margin: 0 0 8px !important;
    padding: 0 !important;
}

.google-map-placeholder .bubble-content p {
    margin: 0 !important;
    padding: 0 !important;
}

.google-map-placeholder .bubble-content hr {
    margin-bottom: 5px !important;
    margin-top: 10px !important;
}

.google-map-placeholder .bubble-content {
    font-family: Arial,Tahoma,Verdana !important;
    font-size: 13px !important;
    line-height: 160% !important;
    padding: 0 !important;
    margin: 0 !important;
}

.google-map-placeholder .bubble-content p {
    font-family: Arial,Tahoma,Verdana !important;
    font-size: 13px !important;
    line-height: 160% !important;
}

.google-map-placeholder hr {
    background-color: #CCCCCC !important;
    border: 0 none !important;
    height: 1px !important;
}

.direction-controls-placeholder,
.direction-controls-placeholder input {
    font-family: Arial,Tahoma,Verdana !important;
    font-size: 12px !important;
    line-height: 160% !important;
}

.direction-controls-placeholder #d_options input {
    width: 5% !important;
}

.bubble-content a {
    color: #1982D1 !important;
    text-decoration: none !important;
}

.bubble-content a:focus,
.bubble-content a:active,
.bubble-content a:hover {
    text-decoration: underline !important;
}

.direction-controls-placeholder  input[type="text"] {
    box-shadow: none !important;
    color: #000 !important;
}

.direction-controls-placeholder  .d_error {
    background-color: pink !important;
}

.direction-controls-placeholder img {
    max-width: 100% !important;
}

.rendered-directions-placeholder table {/* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate !important;
	border-spacing: 0 !important;
}

.rendered-directions-placeholder table,
.rendered-directions-placeholder tr {
    border: none !important;
}

.rendered-directions-placeholder table {
    margin: 0 0 10px !important;
}

.rendered-directions-placeholder table.adp-fullwidth {
    border: none !important;
}

.rendered-directions-placeholder table td {
    font-family: Arial,Tahoma,Verdana !important;
    font-size: 12px !important;
    line-height: 160% !important;
    vertical-align:middle !important;
	padding: 2px 3px 4px 5px !important;
    border: none !important;
}

.rendered-directions-placeholder table.adp-directions td {
    border-top: 1px solid #DDDDDD !important;
}

.rendered-directions-placeholder table td.adp-listheader {
    font-family: Arial,Tahoma,Verdana !important;
    font-size: 13px !important;
    font-weight: bold !important;
    color: blue;
}


.rendered-directions-placeholder div.adp-legal {
    font-size: 12px !important;
}

.rendered-directions-placeholder div.adp-list {
    border: none !important;
}

.rendered-directions-placeholder div.warnbox-content {
    font-family: Arial,Tahoma,Verdana !important;
    font-size: 13px !important;
}

.rendered-directions-placeholder div.adp-summary span {
    color: blue !important;
    font-family: Arial,Tahoma,Verdana !important;
    font-size: 13px !important;
    font-weight: bold !important;
}

